.incrementer .incrementer-row .input-container{
  width: 200px;
  margin-top: 12px;
  font-size: 2em;

}
.incrementer .incrementer-row .input-container .postfix{
  font-size: 0.7em;
  margin-left: -10px;
}
.incrementer .incrementer-row .icon:before {
  font-size: 22px;
  color: #fff;
}
